---
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  return [
    { params: { project: "showreel-2023" } },
    { params: { project: "delay-cover-tengo-tu-love" } },
    { params: { project: "delay-cover-tabaco-y-chanel" } },
    { params: { project: "delay-cover-una-cita" } },
    { params: { project: "demente-trailer" } },
    { params: { project: "no-se-habla-de-bruno-cover" } },
    { params: { project: "angela-cover-rolling-in-the-deep" } },
    { params: { project: "jordan-sin-rencores" } },
    { params: { project: "dos-oruguitas-cover" } },
    { params: { project: "mugy-fktv" } },
  ];
}

const { project } = Astro.params;
// const projectData = await Astro.fetchContent(`../../data/${project}.json`)
//   .then((res) => res.json())
//   .catch((err) => {
//     console.error(err);
//     return {};
//   });
---

<Layout title="Information" />

<section class="project">
  <div class="project__container text-white">{project}</div>
</section>
